<div class="row">
	<div class=" col-sm-8 col-sm-offset-2">
		<h4>What?</h4>
		<p>The VoteApp allows users to Post Polls they want people to vote for either as Yes/No (the app will later allow users to provide multiple options to choose). The link to these Polls can then be shared with people for them to cast their votes for an active Poll. The Moderators can then check the result of these Polls once they log in. This is a very simple app with no advanced security features to demonstrate consumption of REST resources through AngularJS.</p>
		<br />
		<h4 style="margin-top:0px;">How?</h4>
		<p>To Post polls, users need to sign up to become a Moderator. The moderators can then create any number of Polls they wish to post and share the link with people to vote. Voters do not require to sign in to vote for on a poll. The application does not restrict people to cast multiple votes.</p>
	</div>
</div>