<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="return false;">
          MS in Software Engineering (GPA - 3.7)
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h2 class="h-height">San Jose State University</h3>
        <h4 class="h-height">Spring 2014 -  Fall 2015</h4>
        <h4 class="h-height">Specialization: Cloud Computing & Virtualization</h4>
        <br />
        <p><strong>Academic Courses: </strong>Software Systems Engineering, Enterprise Software Platforms, Enterprise Distributed Systems, Cloud Technologies, Virtualization Technologies, Web & Data Mining, Web UI Design & Development, Software Engineering Processes</p>
        <h3 class="h-height">Skills:</h3>
        <p class="skills"><strong>Programming Languages: </strong>Java, Python, Scala (familiar)</p>
        <p class="skills"><strong>Front-End: </strong>AngularJS, HTML5, CSS, JavaScript, Bootstrap</p>
        <p class="skills"><strong>Big Data/Databases: </strong>Apache Spark, Octave, Cassandra, MySQL, MongoDB, Data Modelling, Machine Learning</p>
        <p class="skills"><strong>Tools/Others: </strong>Eclipse, Spring Tool Suite, IntelliJ, JUnit, Git, REST APIs, MVC, Amazon Web Services, Tableau, Logstash</p>
        <p class="skills"><strong>OS: </strong>Linux, UNIX, Mac OS, Windows</p>
        <h3 class="h-height">Projects:</h3>
         <p><strong>PiMask - Home Secure: </strong> A central home surveillance system built using Raspberry Pi. The PiMask server controls multiple cameras of same or different make. This provides the home owners an easy configuration and monitoring process. <strong>Tools/Technologies: </strong> Python, Java, AngularJS, SMB Protocol, Gradle (Fall 2015)</p>
        <p><strong>RESTful App: </strong>Online voting app using REST APIs written in Java where moderators could create multiple polls for which people could register their vote. Moderators can check result of their polls and make any updates if needed. <strong>Tools/Technologies: </strong>Java, AngularJS, Cassandra, Gradle, Spring Tool Suite, REST APIs (Spring 2015)</p>
        <p><strong>MovieRecommender: </strong>Movie Recommendation System used collaborative filtering system. The web application recommended movies to the users based on their ratings given to few specific movies during signup. <strong>Tools/Technologies: </strong>Java, Apache Spark, Cassandra, MVC Framework and Amazon EC2 (Spring 2015)</p>
        <p><strong>CourseLink: </strong>Course recommendation system based on users LinkedIn profile and on top trending technologies in StackOverflow. <strong>Tools/Technologies: </strong>Java, Spring Tool Suite, MongoDB, Gradle, REST APIs, HTML, CSS, jQuery and Amazon EC2 (Spring 2015)</p>
        <p><strong>Data Talk: </strong>Large-scale statistics gathering and analysis application build for a scalable virtualized environment. <strong>Tools/Technologies: </strong> Java vSphere APIs, Python, Logstash, MongoDB, MySQL and tableau (Fall 2014)</p>
        <p><strong>InstaHealth: </strong>A project listed almost all hospitals in the Silicon Valley along with their related information. This would help victims in emergency situation to locate the nearest hospital and find the fastest route to reach that hospital. <strong>Tools/Technologies: </strong>ASP.NET, C#, MS SQL, HTML, CSS and Google Map APIs (Fall 2014)</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="return false;">
          Bachelors in Technology (GPA - 3.66)
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h2 class="h-height">Punjab Technical University</h3>
        <h4 class="h-height">Fall 2006 - Spring 2010</h4>
        <h4 class="h-height">Specialization: Electronics and Communications</h4>
        <br />
        <p><strong>Academic Courses: </strong><a href="http://ptu.ac.in/userfiles/file/engg_syllab/ece-04.pdf" target="_blank">Link to the detailed Syllabus</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="return false;">
          High School
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <h2 class="h-height">Happy Model School</h3>
        <h4 class="h-height">2006 Pass Out</h4>
        <h4 class="h-height">Specialization: Non-Medical with Computer Science</h4>
        <br />
        <p><strong>Academic Courses: </strong>Physics, Chemistry, Math, Computer Science, English</p>
      </div>
    </div>
  </div>
</div>