<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail exp-thumbnails">
      <img src="images/datastax2.png" alt="..." style="height: 150px;">
      <div class="caption">
        <h3>DataStax</h3>
        <h4>Software Engineer Intern</h4>
        <h4>Jun'2015 - Aug'2015</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#datastaxModal">Work Details</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail exp-thumbnails">
      <img src="images/sjsu.png" alt="..." style="height: 150px;">
      <div class="caption">
        <h3>San Jose State University</h3>
        <h4>Graduate Assistant - CIES</h4>
        <h4>May'2014 - June'2015</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sjsuModal">Work Details</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail exp-thumbnails">
      <img src="images/Infosys.jpg" alt="..." style="height: 150px;">
      <div class="caption">
        <h3>Infosys Ltd.</h3>
        <h4>Systems Engineer<h4>
        <h4>Feb'2011 - Dec'2013</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infosysModal">Work Details</button>
      </div>
    </div>
  </div>
</div>

<!-- DataStax Modal -->
<div class="modal fade" id="datastaxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Software Engineer Intern - Datastax</h4>
      </div>
      <div class="modal-body">
        <p>Developed Cassandra Validation Harness (CVH), a test running tool designed to simulate a production cluster and environment. Real workloads could run concurrently alongside administrative operations, allowing developers to test if the interaction of multiple features produces novel bugs.</p>
        <p>Worked on open JIRA tickets for Apache Cassandra and multiple DataStax internal tools such as CCM (Cassandra Cluster Manager),  CTool, cstar_perf, etc.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- San Jose State Modal -->
<div class="modal fade" id="sjsuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Graduate Assistant - San Jose State University</h4>
      </div>
      <div class="modal-body">
        <p>Worked on Implementing and maintaining multiple CRM systems (Terra Dotta, Hobson’s, Zoho etc.).</p>
        <p>Created online forms using HTML, CSS and JavaScript that are currently live on SJSU website http://cies.sjsu.edu/partner/ and http://cies.sjsu.edu/student/</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Infosys Modal -->
<div class="modal fade" id="infosysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Systems Engineer - Infosys Ltd.</h4>
      </div>
      <div class="modal-body">
        <p>Worked on a critical project for RICOH-UK as an Oracle Apps DBA (Oracle 10g/11g).</p>
        <p>Developed and deployed java programs in both production and non-production environment.</p>
        <p>Reviewed and approved jars before deploying them in production environment.</p>
        <p>Supported and maintained Oracle E-Business (RAC/Non-RAC), Planning (ASCP) and Siebel (RAC) production/non-production environments.</p>
        <p>Cloned/Restored database/applications and performed database upgrades.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>